/* 

#box {
    background-color: aqua;
    height: 100px;
    width: 120px;
    
    
    text-align: center; 
    padding-top: 50px;
    
    color: white;   
}

#box1 {
    background-color:green;
    height: 150px;
    width: 120px;
    color: white;
    
    

}

#box2 {
    background-color: red;
    height: 150px;
    width: 120px;
}

#box3 {
    background-color: yellow;
    height: 150px;
    width: 120px;

}
 
#jani {
    background-color: black;
    height: 400px;
    width: 300px;
    
} */
#jani {
    background-color: black;
    height: 500px;
    width: 500px;
    position: relative;
}

#box {
    background-color: aqua;
    height: 80%;
    width: 80%;
    color: white;
    position: absolute;
    text-align: center;

    
}

#box1 {
    background-color: green;
    height: 80%;
    width: 80%;
    color: white;
    left: 200px;
    
    position: absolute;
    
    
}

#box2 {
    background-color: red;
    height: 80%;
    width: 80%;
    color: white;
  position: absolute;
    
    
}
