* {
    padding: 0;
    margin: 0;
    color: white;

}

#navebar {
    background-color: black;
    height: 60px;
}

button {
    background-color: yellow;
    color: black;
}
 
#logo {
    color: yellow;
    font-size: 27px;
}

a {
    margin-right: 200px;
}