.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.active-step {
  background-color: #000;
  color: #fff;
}

.inactive-step {
  background-color: #ccc;
  color: #000;
}

.border-dashed { 
  border: 3px dashed #ccc; 
}

/* Progress bar ke liye additional styling */
.progress {
  background-color: #e9ecef;
}