#box1 {
    background-color: aqua;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    background-image:url(images.jfif) ;
    background-size: cover;
}
#box2 {
    background-color: red;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    
    
}

#box3 {
    background-color: yellow;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#box4 {
    background-color: brown;
    height: 100px;
    display: inline-block;
    width: 100px;
    border: 2px solid black;
    
}







