* {
    color: white;
}
#navebar {
    background-color: black;
    height: 60px;
}

button {
    background-color: yellow;
    color: black;
}
 
#logo {
    color: yellow;
    font-size: 27px;
}

a {
    margin-right: 200px;
}

.contentbox { 
    
    height: 100px;
    width: 100px;
    border: 2px solid black;
    
}
#content {
    height: 800px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}


